body {
    background: lightcoral;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: lightcyan;
    text-align: center; /* Fixed syntax */
}

.project img {
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 2px solid rgb(126, 14, 201); /* Choose a color */
    display: block;
    margin: auto; /* This will center the image */
}

a { /* Change the appearance of ALL links */
    text-decoration: none;
    color: purple;
}

.project p { /* Change the appearance of paragraph tags inside .project divs */
    text-align: center;
    margin: 15px; /* Fixed comment syntax */
}
